/* You can add global styles to this file, and also import other style files */
.ui-sidebar {
    background: #ffffff;
    width: 50rem;
}
.close-btn {
    float: left;
    margin-left: -2rem;
    margin-right: 1rem;
    width: 34px;
    height: 34px;
    display: flex;
    line-height: 18px;
    border: 1px solid #ccc;
}
